<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="student" class="com.velocity.Student" autowire="byType">
		<property name="firstName" value="Santosh"></property>
		<property name="lastName" value="Shelar"></property>
	</bean>
	<bean id="address" class="com.velocity.Address">
	<property name="pincode" value="412214"></property>
	<property name="cityname" value="Pune"></property>
	<property name="state" value="Maharashtra"></property>
	</bean>
</beans>